extends ./layouts/application.pug

block content

  +formFor()(action=route('createTask') method='post')
    .input-group.mb-3
      input(class="form-control" type="text" name="name" placeholder="New task name...")
      button(class="btn btn-outline-secondary" type="submit")= Add
  table.table.table-striped
    thead
      tr
        th= "Name"
        th
    tbody
      each task in data.tasks
        tr
          td= task.name
          td
            +formFor()(action=`${route('patchTask', { id: task.id })}?_method=patch` method='post')
              input(type="hidden" name="finished" value="true")
              +submit()(value="Finish")
